{% assign oss = site.data.data.oss %}
{% if oss %}
<section class="section oss-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ oss.title }}
  </h2>

  {% if oss.intro %}
  <div class="intro">
    <p>{{ oss.intro }}</p>
  </div>
  <!--//intro-->
  {% endif %}

  {% for oss in oss.papers %}
  <div class="item">
    {% if oss.link %}
      <li><a href="{{ oss.link }}">{{ oss.title }}</a></li>
    {% else %}
      <li>{{ oss.title }}</li>
    {% endif %}
    <div class="oss-authors">{{ oss.authors }}</div>
    <div class="oss-conference">{{ oss.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section>
<!--//section-->
{% endif %}
