{% assign oss = site.data.data.oss %}
{% if oss %}
<section class="section oss-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ oss.title }}
  </h2>

  {% if oss.intro %}
  <div class="intro">
    <p>{{ oss.intro }}</p>
  </div>
  <!--//intro-->
  {% endif %}

  {% for contribution in oss.assignments %}
  <div class="item">
    
    <span class="project-title">
      {% if contribution.link %}
        <li><a href="{{ contribution.link }}">{{ contribution.title }}</a></li>
      {% else %}
        <li>{{ contribution.title }}</li>
      {% endif %}
        <div class="publication-authors">{{ contribution.authors }}</div>
        <div class="publication-conference">{{ contribution.conference }}</div>
        </div><!--//item-->
      {% endfor %}

</section><!--//section-->
{% endif %}
