{% assign skills = site.data.data.skills %} {% if skills %}
<section class="skills-section section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ skills.title }}
  </h2>
  
  {% if skills.intro %}
  <div class="intro">
      <p>{{ skills.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for skills in skills.papers %}
  <div class="item">
    {% if skills.link %}
      <li><a href="{{ skills.link }}">{{ skills.title }}</a></li>
    {% else %}
      <li>{{ skills.title }}</li>
    {% endif %}
    <div class="publication-authors">{{ skills.authors }}</div>
    <div class="publication-conference">{{ skills.conference }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
